/* Main container for the filter controls */
.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px; /* Adds space between the input and the dropdown */
  margin-bottom: 20px;
}

/* Style the text input field */
.filterContainer input {
  flex-grow: 1; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}


.filterContainer select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 1em;
  cursor: pointer;
}